footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: map-get($estilos, colorBase);

    div{
        img{
            width: 50px;
            height: auto;
            margin: 20px;
            justify-content: space-evenly;
        }
    }
    div{
        a{
        @extend %flexRow;
        @include botonRedes($secondaryColor);
        &:hover{
            color: $secondaryColor;
        }
        }
    }
}