footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(1, 1, 1);

    div{
        img{
            width: 30px;
            height: auto;
            justify-content: space-evenly;
        }
    }
    div{
        a{
            padding: 5px;
            margin: 20px;
            color: #EB1DE7;
        }
    }
}