main{
    background: linear-gradient(-45deg, #000000, #212121);
}

main{
    background-size: cover;
    section{
            h3{
            font-size: 8rem;
            padding: 20rem;
            color: $secondaryColor;
            text-shadow: $primaryColor 5px 5px;
            &:hover{
                animation-name: titulo;
                animation-iteration-count: infinite;
                animation-timing-function: ease-in-out;
                animation-duration: 2s;
                }
            }
        }
    }

.banner{
        background-image: url(/recursos/Sitio_FV.520.png);
        background-repeat: no-repeat;
        background-size: auto;
        padding: 50px;
}

.btn{
    color: $primaryColor;
}

    @keyframes titulo {
        0% {color: $secondaryColor;}
        25% {color: $tertiaryColor;}
        50% {color: $secondaryColor;}
        75% {color: $tertiaryColor;}
        100% {color: $secondaryColor;}
        }

@media (max-width:1920px){
    .titulo{
        font-size: 8rem;
        margin-left: 4rem;
        padding: 10rem;
    }
    .banner{
        background-size: 1300px;
    }
}

@media (max-width:1366px){
    .titulo{
        font-size: 7rem;
        margin-left: 2rem;
        padding: 6rem;
        }
    .banner{
        background-size: 1200px;
    }
}

@media (max-width:1024px){
    .titulo{
        font-size: 5rem;
        margin-left: 2rem;
        padding: 6rem;
    }
    .banner{
        background-size: 900px;
    }
    }

@media (max-width:720px){
    .titulo{
        font-size: 4rem;
        margin-left: 3rem;
        padding: 2rem;
        }
    .banner{
        background-size: 600px;
        }
        }

@media (max-width:500px){
    .titulo{
        font-size: 3rem;
        margin-left: 1rem;
        padding: 1.5rem;
        }
    .banner{
        background-size: 400px;
        }
        }