@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap");
header {
  background-color: #000000;
  height: 90px;
}
header div a img {
  width: 100%;
  height: 100%;
}

.nav-link {
  color: #515151;
  transition: all 1s;
}
.nav-link:hover {
  color: #16DEDB;
}

.logo {
  width: 40px;
  height: auto;
  margin: 20px;
  transition: width 1s, height 1s;
}
.logo:hover {
  width: 50px;
  height: auto;
}

main {
  background: linear-gradient(-45deg, #000000, #212121);
}

main {
  background-size: cover;
}
main section h1 {
  font-size: 8rem;
  padding: 20rem;
  color: #16DEDB;
  text-shadow: #EB1DE7 5px 5px;
}
main section h1:hover {
  -webkit-animation-name: titulo;
          animation-name: titulo;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.banner {
  background-image: url(/recursos/Sitio_FV.520.png);
  background-repeat: no-repeat;
  background-size: auto;
  padding: 50px;
}

.btn {
  color: #ffffff;
  background-color: #EB1DE7;
}
.btn:active {
  background-color: #16DEDB;
}

h3 {
  padding: 50px;
  font-size: 40px;
  color: #ffffff;
}

.form-label {
  color: #ffffff;
}

.form-check-label {
  color: #ffffff;
}

.form-check-input:checked {
  background-color: #16DEDB;
}

@-webkit-keyframes titulo {
  0% {
    color: #16DEDB;
  }
  25% {
    color: #ffffff;
  }
  50% {
    color: #16DEDB;
  }
  75% {
    color: #ffffff;
  }
  100% {
    color: #16DEDB;
  }
}

@keyframes titulo {
  0% {
    color: #16DEDB;
  }
  25% {
    color: #ffffff;
  }
  50% {
    color: #16DEDB;
  }
  75% {
    color: #ffffff;
  }
  100% {
    color: #16DEDB;
  }
}
@media (max-width: 1920px) {
  .titulo {
    font-size: 8rem;
    margin-left: 4rem;
    padding: 10rem;
  }
  .banner {
    background-size: 1300px;
  }
}
@media (max-width: 1366px) {
  .titulo {
    font-size: 7rem;
    margin-left: 2rem;
    padding: 6rem;
  }
  .banner {
    background-size: 1200px;
  }
}
@media (max-width: 1024px) {
  .titulo {
    font-size: 5rem;
    margin-left: 2rem;
    padding: 6rem;
  }
  .banner {
    background-size: 900px;
  }
}
@media (max-width: 720px) {
  .titulo {
    font-size: 4rem;
    margin-left: 3rem;
    padding: 2rem;
  }
  .banner {
    background-size: 600px;
  }
}
@media (max-width: 500px) {
  .titulo {
    font-size: 3rem;
    margin-left: 1rem;
    padding: 1.5rem;
  }
  .banner {
    background-size: 400px;
  }
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}
footer div img {
  width: 50px;
  height: auto;
  margin: 20px;
  justify-content: space-evenly;
}
footer div a {
  font-size: 12px;
  background-color: #EB1DE7;
  color: #ffffff;
  margin: 2px;
  padding: 10px;
  border-bottom: 3px solid #16DEDB;
  border-radius: 20px;
}
footer div a:hover {
  color: #16DEDB;
}

.btn {
  border: none;
  border-radius: 8px;
  font-size: 20px;
  font-family: Ubuntu, sans-serif;
}

header, h3, footer div a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contenedor {
  font-family: Ubuntu, sans-serif;
  background-color: linear-gradient(-45deg, #000000, #212121);
}/*# sourceMappingURL=styles.css.map */