@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

/* General---------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.contenedor{
    font-family: 'Ubuntu', sans-serif;
    background: linear-gradient(-45deg, #000000, #212121);
}

/* Cabecera---------------------------------------------------*/

.d-flex{
    background-color: rgb(1, 1, 1);
}

.nav-link{
    color: #515151;
    transition: all 1s;
}

.nav-link:hover{
    color: #16DEDB !important;
}

.navbar{
    background-color: rgb(1, 1, 1);
}

.logo{
    width: 50px;
    height: auto;
    margin: 20px;
    transition: width 1s, height 1s;   
}

.logo:hover{
    width: 70px;
    height: auto;
}

img{
    width: 100%;
    height: 100%;
}


/* Cuerpo---------------------------------------------------*/
.banner{
    background-image: url(../Recursos/Sitio_FV.520.png);
}

.titulo{
    font-size: 8rem;
    margin-left: 5rem;
    padding: 20rem;
    color: #16DEDB;
    text-shadow: #EB1DE7 5px 5px;
}

.titulo:hover{
animation-name: titulo;
animation-iteration-count: infinite;
animation-timing-function: ease-in-out;
animation-duration: 2s;
}

@keyframes titulo {
    0% {color: #16DEDB;}
    25% {color: #ffffff;}
    50% {color: #16DEDB;}
    75% {color: #ffffff;}
    100% {color: #16DEDB;}
}

/* Pie---------------------------------------------------*/

.footer{
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(1, 1, 1);
}

footer a{
    font-size: 1rem;
    font-family: 'Ubuntu', sans-serif;
    justify-content: space-around;
} 

.logoPie{
    width: 30px;
    height: auto;
    justify-content: space-evenly;
}

.redes{
    padding: 5px;
    margin: 20px;
}

.redes a{
    color: #EB1DE7;
}

/*Calendario-----------------------------------------------*/

.calendario{
    font-size: 1rem;
    font-family: 'Ubuntu', sans-serif;
    color: #ffffff;
    text-align: center;
    margin: 20px;
    padding: 10px;
}
.seccion1{
    display: flex;
    flex-wrap: wrap;
}

.seccion2{
    display: flex;
    flex-wrap: wrap; 
}

.card1{
    width: 250px;
    height: 250px;
    border:solid #16DEDB;
    border-radius: 15px;
}

h5{
    font-size: 1rem;
    font-family: 'Ubuntu', sans-serif;
    color: #EB1DE7;
    text-align: end;
    padding: 10px;   
}
.cardImagen{
    width: 50%;
    height: auto;
}

.imagenRhino{
    width: 100%;
    height: 100%;
}
p{
    font-size: 1rem;
    font-family: 'Ubuntu', sans-serif;
    color: #16DEDB;
    text-align: center;
    padding: 5px;  
}

.menu{
    width: 50px;
    height: 50px;
}

.imgMenu{
    width: 100%;
    height: 100%;
}
.menu{
    display: none;
}

/*Registro-----------------------------------------------*/
.main{
    color: #ffffff
}

.registro{
    background-color: red;
}
